@model ShoppingCartMVC.Models.tblOrder




@using (Html.BeginForm())
{
    <div>
        <p style="text-align:center;">Invoice ID: @Html.EditorFor(model => Model.TblInvoice.InvoiceId)</p>

        <p style="text-align:center;">UserID: @Html.EditorFor(model => Model.TblInvoice.UserId)</p>
        <p style="text-align:center;">Payment Method: @Html.EditorFor(model => model.TblInvoice.Payment)</p>

        <p style="text-align:center;">Bill: @Html.EditorFor(model => model.TblInvoice.Bill)</p>
        <p style="text-align:center;">Date: @Html.EditorFor(model => model.TblInvoice.InvoiceDate)</p>

        <p style="text-align:center;"><input type="submit" value="Confirm Order" class="btn btn-success" /></p>
    </div>

}